.parent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aboutText{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.aboutTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
}

.aboutInfo{
    font-family: 'Montserrat', sans-serif;
}

.aboutImage{
    width: 30%;
}

