.parent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.aboutText{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.aboutTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size:40px;
}

.aboutInfo{
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-justify:;
}

.aboutImage{
    width: 30%;
}

