.comingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.comingSoon.dark {
  background-color: #171717;
  color: #ffffff;
}

.comingSoon.light {
  background-color: #ffffff;
  color: #171717;
}

.content {
  max-width: 600px;
font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 0;
}
