.parent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    margin: 100px 0px 100px 0px;
}

.contactIcons{
    display:flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.contactText{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.contactTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size:40px;
}

.contactInfo{
    margin: 50px 0px 50px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
    text-justify: distribute-all-lines;
}