.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
} 

.footer{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.footerLogo{
    font-family: 'Allura', cursive;
    font-weight: 400;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 3px;
}

.footerCopyright{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:20px;
}


.footerText{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left:10px;
    font-size:15px;
}

.light{
    color: #171717;
}

