.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
} 

.footerText{
    display:flex;
    align-items: center;
    justify-content: ;
}
.footerLogo{
    font-family: 'Allura', cursive;
    font-weight: 600;
}