@media only screen and (min-width: 1201px) {
.parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    height: 85vh;
}

.headText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.headTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.headSubtitle{
    text-align: left;
    width: 100%;
    margin: 50px 0px 50px 0px;
    font-family: 'Montserrat', sans-serif;
}

.headContact{
    margin-right: auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    font-size: 18px;
    background-color: #171717;
    color: white;
    border: 2px solid white;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.headContactLight{
    margin-right: auto;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    font-size: 18px;
    background-color: white;
    color: #171717;
    border: 2px solid #171717;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.headContact:hover{
    background-color: white;
    color: #171717;
    transform: scale(1.1);
}

.headContactLight:hover{
    background-color: #171717;
    color: white;
    transform: scale(1.1);
}

.headImage{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.light{
    color:#171717
}
}

@media only screen and (max-width: 600px) {
    .parent{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 100px 0px 100px 0px;
    }
    
    .headText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
    }
    
    .headTitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        width: 100%;

    }
    
    .headSubtitle{
        text-align: center;
        width: 100%;
        margin: 50px 0px 50px 0px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    
    .headContact{
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 7px;
        font-size: 18px;
        background-color: #171717;
        color: white;
        border: 2px solid white;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-bottom: 50px;
    }
    
    .headContact:hover{
        background-color: white;
        color: #171717;
        transform: scale(1.1);
    }

    .headContactLight{
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        border-radius: 7px;
        font-size: 18px;
        background-color: white;
        color: #171717;
        border: 2px solid #171717;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .headContactLight:hover{
        background-color: #171717;
        color: white;
        transform: scale(1.1);
    }
    
    .headImage{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .light{
        color: #171717;
    }
}