.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.headText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    align-content: flex-start;
    flex
}

.headTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

.headSubtitle{
    text-align: left;
}

.headImage{
    text-align: center;
    width: 50%;
    height: 100%;
}