.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    font-family: 'Allura', sans-serif;
}

.navlist{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    width:70%;
}

.navlink{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}