.parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    height:80vh;
}

.skillsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.skillsTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size:40px;
}


.skillsToggle{
  margin: 50px 0px 50px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:100%;
}

.skillsCode, .skillsTools{
    margin-right:50px;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    font-size: 18px;
    background-color: #171717;
    color:white;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

.skillsCode:hover, .skillsTools:hover{
  background-color: white;
  color: #171717;
  transform: scale(1.1);
}

.skillsActiveButton{
  background-color: white;
  color: #171717;
  border: none;
}

.skillsIcons{
  width: 30%;
  justify-content: center;
  align-items: center;
  ani;
}
