.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.skillsText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.skillsTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size:40px;
}

.skillsOption .skillsOptionKnob::before{
    content: "Code";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color:#171717;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: white;
    border-radius: 7px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.skillsOption .skillsOptionCheckbox:checked + .skillsOptionKnob::before{
    content: "NO";
    left: 42px;
    background-color: #f44336;
}